
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Doctor Search Form a Flat Responsive Widget Template :: w3layouts </title>
      <!-- Meta tags -->
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="keywords" content="Doctor Search Form Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design"
         />
      <script>
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
      </script>
      <!-- Meta tags -->
      <!-- Calendar -->
      <link rel="stylesheet" href="../static/css/jquery-ui.css" th:href="@{/css/jquery-ui.css}"/>
      <!-- //Calendar -->
      <!--stylesheets-->
      <link href="../static/css/style.css" rel='stylesheet' type='text/css' media="all" th:href="@{/css/style.css}"/>
      <!--//style sheet end here-->
      <link href="//fonts.googleapis.com/css?family=Cuprum:400,700" rel="stylesheet">
   </head>
   <body>
      <h1 class="header-w3ls">
         Doctor Search Form
      </h1>
      <div class="doctor-form">
         <h2 class="doctor-list-w3l">Search For Games</h2>
         <form action="/result" method="post">
            <div class="main">
               <div class="form-left-to-w3l">
                  <input type="text" th:name="gameName" placeholder="Game name">
                  <div class="clear"></div>
               </div>
               <div class="form-right-to-w3l">
                  <select class="form-control">
                     <option value="">Select City</option>
                     <option>Kraków</option>
                  </select>
               </div>
            </div>
            <div class="clear"></div>

            <div class="main">
                  <div class="form-left-to-w3l gap-top">
                  <select class="form-control" th:name="shopName" id="1" th:field="*{shops}" required>
                     <option value="" selected>
                        Select Shop
                     </option>
                     <option  th:value="category0">All shops</option>
                      <option th:name="${shop.name}" th:value="${shop.name}" th:each="shop : ${shops}" th:text="${shop.name}"></option>
                  </select>
                  <div class="clear"></div>
               </div>
               </div>
               <div class="form-right-to-w3l">
                  <div class="grid-outs1">
                     <div class="w3-agile1" >
                        <label class="rating">Select Console</label>

                              <input type="radio" id="a-option" th:name="console" th:value="Ps4">
                              <label for="a-option">Ps4</label>


                              <input type="radio" id="b-option" th:name="console" th:value="Ps3">
                              <label for="b-option">Ps3</label>

                              <input type="radio" id="c-option" th:name="console" th:value="Xbox360">
                              <label for="c-option">Xbox360</label>


                              <input type="radio" id="d-option" th:name="console" th:value="XboxOne">
                              <label for="d-option">XboxOne</label>


                            <input type="radio" id="e-option" th:name="console" th:value="Switch">
                              <label for="e-option">Switch</label>

                        </ul>
                     </div>
                  </div>
                  <div class="clear"></div>
               </div>
            <div class="btnn">
               <button type="submit">SEARCH</button><br>
            </div>
         </form>
      </div>
      <div class="copy">
         <p>&copy; 2018 Doctor Search Form. All Rights Reserved | Design by <a href="http://www.W3Layouts.com" target="_blank">W3Layouts</a></p>
      </div>
      <!--scripts-->
      <script src="../static/js/consolesForShops.js" th:src="@{/js/consolesForShops.js}"></script>
      <script src='../static/js/jquery-2.2.3.min.js' th:src="@{/js/jquery-2.2.3.min.js}"></script>
      <!--//scripts-->
      <!-- //js -->
      <!-- Calendar -->
      <!-- //Calendar -->
   </body>
</html>